#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#settings_btn {
    margin-left: 1%;
}

#settings_btn, #theme_btn {
    background: none;
    border: none;
}

#links_container {
    flex: 5 auto auto;
}

.icon {
    padding: 0.5% 1% 0.5% 1%;
}

.icon:hover {
    cursor: pointer;
}